# Part 1 : Python Basics.
(Followed DSMP CampusX Lectures)

## Why Python?

**1. Easy to Learn & Read**
- Simple, clean syntax (like plain English).
- Great for beginners, yet powerful for advanced projects.

**2. Batteries Included**
- Comes with a rich standard library (no extra tools needed for basic tasks).
- Examples: File handling, web scraping, math operations, etc.

**3. Versatile (General Purpose)**
- Used in multiple fields: like Web Devlopment, Data Science, Automation, Game Development etc. 

**4.  Huge Community & Libraries**
- Thousands of free libraries for almost any task. (eg. Numpy, Tensorflow, Django)
- Strong community support â†’ Easy troubleshooting, tutorials, and updates.

## Why python for data science?
1. Easy to learn
2. Proximity  with Maths
3. Community

> **Note:** 
1. Python is case-sensitive language. **print** and **Print** are two different thing
2. Python is a **interpreted language** not a ~~compiled language~~, it is translated line by line.

---

## Python Syntax:

### 1. Python Output:

In [1]:
print('Hello World')

Hello World

In [3]:
print('Hello World', 1, 3.14 , True)

Hello World 1 3.14 True

> **Note:** In Python, when we pass multiple elements to the ``print()`` function, all elements are printed separated by a space by default.
However, we can change this behavior using the ``sep`` (separator) parameter of ``print()``.

In [1]:
print('Hello World', 1, 3.14 , True , sep = '/')

Hello World/1/3.14/True

> **Note:** By default in Python, after the ``print()`` function executes, the output moves to a new line.
We can change this behavior using the ``end`` parameter of print().
By default ``end = '\n'``;

In [3]:
# By default end='\n'
print('Shivam')
print('Sinha')

Shivam
Sinha

In [ ]:
# changing behaviour of 'end' parameter
print('Shivam' , end = "-")
print('Sinha')

Shivam-Sinha

---

### 2. Data Types

In [ ]:
# Integer
print(8)

# Python can handle a large integer values
# About 1*10^308
print(1e308)

8
1e+308

In [9]:
print(1e309)

inf

infinite because it can handle only upto 10^308

In [11]:
# Decimal / Float

print(8.55)
print(1.7e308)

8.55
1.7e+308

In [12]:
## Boolean

print(True)
print(False)

True
False

In [16]:
# Text / String

print("Hello World")

Hello World

In [15]:
# Complex

print(5+6j)

(5+6j)

In [17]:
# List (Array in Java or C)

print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [19]:
# Tuple

print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [20]:
# Sets

print({1,2,3,4,5,5})

{1, 2, 3, 4, 5}

In [21]:
# Dictionary - Key value pairs

print({'Name':'Shivam' , 'Gender' : 'Male' , 'Weight' : 60})

{'Name': 'Shivam', 'Gender': 'Male', 'Weight': 60}

In [22]:
# Type

type(3)

int

In [26]:
type(3.5)

float

In [27]:
type("Hello")

str

In [28]:
type(3.14)

float

In [29]:
type(6+6j)

complex

In [30]:
type([1,2,3])

list

--- 

### 3. Variables
- Variables are basically containers, used to store data for later use.
- In python, we don't need to explicitly mention the data type.
- Python is dynamically typed - it automatically detects the data type based on the assigned value

In [37]:
name = "Shivam"
print(name)
print(type(name))

a = 5
b = 6 
print( a+ b )

Shivam
<class 'str'>
11

---
### Dynamic Typing vs Static Typing

**Dynamic Typing**: When we **don't need to specify the data type** explicitly.  
Python supports dynamic typing.

``
a = 5  # Python automatically understands that 'a' is an integer
``

**Static Typing** : We must specify the data type explicitly. C,C++, Java supports static typing
``
int a = 5
``

---

### Dynamic binding vs Static binding

**Dynamic binding**: Once a variable is declared, its **data type can changed** at anytime during in the program. 
Python supports dynamic binding.


```py
a = 5 
a = 'shivam'   # No error in python
```

**Static binding** : Once a variable is declared, its the data type remains fixedthroughout the program. C,C++, Java supports static binding

```java
int a = 5

String a = "Shivam";  //Error in Java and C++ as 'a' is already declared as integer.
```

### More ways to create multiple variables

In [40]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [42]:
a=b=c = 5
print(a,b,c)

5 5 5

> **Note:** compilation is basically a process where we convert our high level code into binary language (machine language)

--- 

### 4. Keywords & Identifiers

**Keywords**
- Keywords are reserved words in python that have special meaning 
- They cannot be used as identifiers (variable names, functions names, etc.)
- They are reserved by the **python interpreter** and used by them to understand the structure and logic of the program better.
- In python there are 35 keywords

<table border="1" cellspacing="0" cellpadding="8">
  <caption><strong>List of Python Keywords (35 Total)</strong></caption>
  <tr>
  </tr>
  <tr>
    <td>False</td>
    <td>None</td>
    <td>True</td>
    <td>and</td>
    <td>as</td>
  </tr>
  <tr>
    <td>assert</td>
    <td>async</td>
    <td>await</td>
    <td>break</td>
    <td>class</td>
  </tr>
  <tr>
    <td>continue</td>
    <td>def</td>
    <td>del</td>
    <td>elif</td>
    <td>else</td>
  </tr>
  <tr>
    <td>except</td>
    <td>finally</td>
    <td>for</td>
    <td>from</td>
    <td>global</td>
  </tr>
  <tr>
    <td>if</td>
    <td>import</td>
    <td>in</td>
    <td>is</td>
    <td>lambda</td>
  </tr>
  <tr>
    <td>nonlocal</td>
    <td>not</td>
    <td>or</td>
    <td>pass</td>
    <td>raise</td>
  </tr>
  <tr>
    <td>return</td>
    <td>try</td>
    <td>while</td>
    <td>with</td>
    <td>yield</td>
  </tr>
</table>


**Identifiers** 
- Identifiers are the names you assign to elements in your Python code â€” such as: Vaiables, Functions, Classes, Modules, Objects

**Rules for writing Identifiers in python:**
1. Can contain letters (Aâ€“Z, aâ€“z), digits (0â€“9), and underscores (_)
2. Cannot start with a digit
3. Cannot be a keyword (like if, while, class, etc.)
4. Are case-sensitive (Name and name are different)
5. No special characters allowed (@, $, #, etc.)

---

### 5. User Input

In [47]:
s = input("Enter Input")
print(s)

Shivam

### WAP in python to add 2 number

In [50]:
num1 = input("Enter first number")
num2 = input("Enter second number")
sum = num1 + num2
print("The sum of: ", num1 , "and" , num2, "is" , sum)

The sum of:  5 and 15 is 515

> **Note:** Behaviour of input() function in python
- In Python, the `input()` function **always returns data as a string**, even if the user enters a number.
- If you try to perform arithmetic directly on `input()` values, Python will **concatenate the strings** instead of adding the numbers.
- So the correct approach is, always convert input() to int or float when performing mathematical operations.

In [51]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
sum = num1 + num2
print("The sum of: ", num1 , "and" , num2, "is" , sum)

The sum of:  5 and 15 is 20

---
### 6. Type Conversion 
- Type conversion refers to changing the data type of a value from one type to another, such as converting an **int** to a **float**, or a **string** to an **int**.
- Python supports two kinds of type conversion

    1. **Implicit Type Conversion**: Automatically done by python when needed
    
    2. **Explicit Type Conversion** : Also known as type casting, where the programmer manually converts the datatype using built-in functions like (int(), float(), str(), list() etc...)

In [3]:
print(5+5.6)
print(type(5), type(5.6))

10.6
<class 'int'> <class 'float'>

In [7]:
# str -> int
a = int('4')
print(type(a))

# int -> str
print(str(5))

<class 'int'>
5

---
### 7. Different types of literals

In [8]:
a = 0b1010  # Binary literals
b = 100     # Decimal Literals
c = 0o310   # Octal Literals
d = 0x12c   # Hexadecimnal Literals
print(a,b,c,d)

10 100 200 300

In [9]:
# Float litrals
f1 = 10.5
f2 = 1.5e2  # 1.5 * 10^2
f3 = 1.5e-3 # 1.5 * 10^-2
print(f1,f2,f3)

10.5 150.0 0.0015

In [17]:
# String Literals
str1 = 'This is a string'
str2 = "This is a string"
char = "A"
multiline_str = """This is a multiline string"""
unicode = u"\U0001f600\U0001f606\U0001F923"
raw_str = r"raw \n string"
not_raw = "notraw \n string"

print(str1)
print(str2)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)
print(not_raw)

This is a string
This is a string
A
This is a multiline string
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string
notraw
 string

> Note: 
- The **r** before the string means it's a raw string literal.
- In a raw string, backslashes are treated as literal characters, not as escape characters.

In [18]:
# Boolean Literals
a = True + 4
b = False + 10

print("a: ", a)
print("b: ", b)

a:  5
b:  10

> **Note:** This is becuase python treats boolean as number. The value of ``True is 1`` and ``False is 0``

### NONE in python

- In python, we can not just declare a variablewithout assigning a value.

In [19]:
K
a = 5
print("Execute")

NameError: name 'K' is not defined

- To handle this, we use ``None`` as a placeholder.

In [20]:
k = None
a = 5
print("Execute")

Execute

---
### 8. Operators
- Arithmetic
- Relational
- Logical
- Bitwise
- Assignment
- Membership