# **Python Part 2 : Built-in Data Structures and Functions**

# **Python List**
- What are List
- List vs Arrays
- How List stored in Memory
- Characteristics of a List
- How to create a  List
- Access items from a List
- Editing items in a List
- Deleting items from a List
- Operations on Lists
- Functions on Lists

## 1. What are Lists?
- List is a data type, where we can store multiple items under 1 name. More technically, lists act like a **dynamic arrays** which means we can add more items on the fly. 

```py
L = [20, 'Jessa', 25.75, [30,60,90]]
     ðŸ¡…     ðŸ¡…       ðŸ¡…       ðŸ¡…
    L[0]   L[1]    L[2]     L[3] 
```

## 2. List vs Array

| **List**                                                                            | **Array**                                                                 |
| ----------------------------------------------------------------------------------- | ------------------------------------------------------------------------- |
| Lists are dynamic in nature; their size can be changed at runtime.                  | Arrays are static in nature; their size is fixed at the time of creation. |
| Lists are heterogeneous, meaning they can contain elements of different data types. | Arrays are homogeneous; all elements must be of the same data type.       |
| Execution speed is relatively slower.                                               | Execution speed is generally faster.                                      |
| Lists consume more memory.                                                          | Arrays consume less memory.                                               |
|Python have lists| Java, C++ have array|

In [4]:
arr = (1,2,1.1)
print(arr)

id(arr[0]) == id(arr[2])

(1, 2, 1.1)

False

## 3. How **Array** and **List** stored in Memory.

```Java
int arr[8] //Size = 8
arr = {1,2,3,4} //Store 4 elements
```
<img src="img/ArrayMemory.png" width="500">

In [17]:
list = [1,2,3]

print(id(list))
print(id(list[0]))
print(id(list[1]))
print(id(list[2]))
print(id(1))
print(id(2))
print(id(3))

2350109736640
140715209737128
140715209737160
140715209737192
140715209737128
140715209737160
140715209737192


<img src="img/ListMemory1.png" width="500">

> **Note:** - This is possible due to a **Refrential Array**, that store address of element instead of original array. (*pointer to the original element*) 

**Its Advantages**
1. Supports heterogeneity: Elements of different data types can be stored in a single list.
2. Memory efficiency: The same reference can be reused instead of reallocating memory for identical elements.
3. Due to this, it takes extra space. Also it is slow compare to array.

In [26]:
li = [10,20,10]
print(id(li[0]))
print(id(li[1]))
print(id(li[2]))
print(id(li))

140715209737416
140715209737736
140715209737416
2350115953216

<img src="img/ListMemory2.png" width="500">

In [23]:
# Lets change some value in list

li[1] = 10   # [10,10,10]
print(id(li[0]))
print(id(li[1]))
print(id(li[2]))
print(id(li))

140715209737416
140715209737416
140715209737416
2350116177536

<img src="img/ListMemory3.png" width="500">

In [20]:
li2 = [10,'a','a','A']
print(id(li2[0]))
print(id(li2[1]))
print(id(li2[2]))
print(id(li2[3]))
print(id(li2))

140715209737416
140715209801696
140715209801696
140715209800160
2350116183744

<img src="img/ListMemory4.png" width="500">

---
## 4. Characteristics of List

    1. Ordered
    2. Mutable
    3. heterogeneous
    4. Can have duplicates
    5. Dynamic
    6. Can be Nested
    7. Items can be accessed
    8. Can contain any kind of *objects
    

---

## 5. Creating a List
- Empty
- 1D -> Homogenous List
- 2D
- 3D
- Heterogenous
- Using Type Conversion

In [6]:
# Empty
print([])

# 1D -> Homogenous List
print([1,2,3,4])

# 2D
print([1,2,3,[4,5]])

# 3D
print([[[1,2], [3,4]], [[5,6], [7,8]]])  #this is homogenous list

# Heterogenous List
print([1, True, 5.6, 5+6j, 'Hello'])

# Using type conversion
print(list('Hello'))

[]
[1, 2, 3, 4]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['H', 'e', 'l', 'l', 'o']

---

## 6. Accessing Items from a List

### Indexing
- Positive Indexing
- Negative Indexing

In [ ]:
L = [1,2,3,[4,5]]
print(L[1])

2

In [8]:
print(L[-1])

[4, 5]

In [9]:
print(L[-1][-2])

4

In [10]:
print(L[3][0])

4

In [11]:
L = [[[1,2], [3,4]], [[5,6], [7,8]]]
print(L[0]);

[[1, 2], [3, 4]]

In [14]:
print(L[0][0])

[1, 2]

In [13]:
print(L[0][0][0])

1

### Slicing

In [17]:
L = [1,2,3,4,5,6]
print(L[0:3])

[1, 2, 3]

In [18]:
print(L[3:])

[4, 5, 6]

In [20]:
print(L[::-1])

[6, 5, 4, 3, 2, 1]

## 7. Adding Items to a List

- append() - to add 1 item in a list
- extend() - to add multiple item in a list
- insert() - to add at particular location

### ``append()``

In [ ]:
L = [1,2,3]
L.append(True)
print(L)

[1, 2, 3, True]

### ``extend()``

In [ ]:
L = [1,2,3]
L.extend([4,5,6])
print(L)

[1, 2, 3, 4, 5, 6]

> **Note:** If we try to append multiple items to a list at once using ``append()``,they will be add as a single element, turning a 1D list into a 2D list

In [27]:
L = [1,2,3]
L.append([4,5,6])
print(L)
print(L[3])

[1, 2, 3, [4, 5, 6]]
[4, 5, 6]

> **Note:** It's opposite is also possible. For example:

In [29]:
L = [1,2,3]
L.extend('Shivam')
print(L)
print(L[3])

[1, 2, 3, 'S', 'h', 'i', 'v', 'a', 'm']
S

> ``extend()`` breaks the passed argument into individual elements and adds each one to the list.
> Since **'Shivam'** is a string (which is iterable), ``extend('Shivam')`` adds each character of the string as separate elements.

### ``insert()``

In [ ]:
L = [1,2,3,4]
L.insert(1,10)
print(L)

[1, 10, 2, 3, 4]

In [34]:
L = [1,2,3,4]
L.insert(2,[20,25])
print(L)

[1, 2, [20, 25], 3, 4]

In [35]:
L = [1,2,3,4]
L.insert(3,'Shivam')
print(L)

[1, 2, 3, 'Shivam', 4]

---
## 8. Editing items in a List

In [39]:
L = [1,2,3,4]

#Editing with indexing
L[-1] = 40
print(L)

# Editing with slicing
L[0:3] = [10,20,30]
print(L)

[1, 2, 3, 40]
[10, 20, 30, 40]

---
## 9. Deleting Items in a List

- `del`  
  Can delete the entire list or remove an item by **list index**.  
  _Example:_ `del(L)` or `del(L[0])`

- `remove()`  
  Removes the **first occurrence of a specific element** from the list.  
  _Example:_ `L.remove(5)`

- `pop()`  
  Removes and returns the **last element** by default, or an element by **index** if specified.  
  _Example:_ `L.pop()` or `L.pop(1)`

- `clear()`  
  Empties the entire list but **does not delete** the list object itself.  
  _Example:_ `L.clear()`

### ``del() keyword``

In [40]:
# del 
L = [1,2,3]
del(L)
print(L)

NameError: name 'L' is not defined

In [42]:
# del with indexing
L = [1,2,3,4]
del(L[-1])
print(L)

[1, 2, 3]

In [44]:
# del with slicing
L = [1,2,3,4]
del(L[1:3])
print(L)

[1, 4]

### ``remove() keyword``

In [45]:
L = [10,20,30,40,50]
L.remove(50)
print(L)

[10, 20, 30, 40]

### ``pop() keyword``

In [46]:
L = [10,20,30,40,50]
L.pop()
print(L)

[10, 20, 30, 40]

> **Note:** By default, ``pop()`` deletes last item

In [47]:
L.pop(1)
print(L)

[10, 30, 40]

> **Note:** But, it can also delete by giving index asd parameter

### ``clear()``

In [52]:
L = [1,2,3,4]
L.clear()
print(L)

[]

---
## 10. Operation on Lists
- Arithmetic
- Membership

### ``Arithmetic Operator (+ , *)``

In [54]:
L1 = [1,2,3]
L2 = [4,5,6]

# Concatenation / Merge
print(L1+L2)

[1, 2, 3, 4, 5, 6]

In [55]:
print(L1 * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### `Membership Operator (not in, in)`

In [56]:
print(3 in L1)
print(3 in L2)

True
False

In [57]:
print(3 not in L1)
print(3 not in L2)

False
True

In [62]:
L = [1,2,3,[4,5]]
print(5 in L)
print(5 in L[3])
print([4,5] in L)

False
True
True

---
## 11. Loops in List

In [ ]:
L1 = [1,2,3]
for i in L1:
    print(i)

1
2
3

In [66]:
L2 = [1,2,3,[4,5]]

for i in L2:
    print(i)

1
2
3
[4, 5]

In [69]:
L3 = [[[1,2],[3,4]], [[5,6],[7,8]]]

index = 0
for i in L3:
    print(index, "=", i)
    index+=1

0 = [[1, 2], [3, 4]]
1 = [[5, 6], [7, 8]]

---
## 12. List Functions

### ``len() / min() / max() / sorted()``

In [71]:
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L))

5
0
7
[0, 1, 2, 5, 7]

### ``count()`` - gives the frequency of an item

In [74]:
L = [1,2,1,1,3,4,5]
print(L.count(1))

3

### ``index()`` - gives the first occurance of an item

In [75]:
print(L.index(1))

0

In [76]:
print(L.index(10))

ValueError: 10 is not in list

### ``reverse()``  - it permanently reverses the list

In [81]:
L = [1,2,3,4]
L.reverse()
print(L)

[4, 3, 2, 1]

> **Note:** This is not a permanent method

In [84]:
L = [2,4,3,1]
print(sorted(L,reverse=True))
print(L)

[4, 3, 2, 1]
[2, 4, 3, 1]

### `sort()` vs `sorted()`

> - `sort()` modifies the original list **in-place** (permanent). No return.
> - `sorted()` returns a **new sorted list** without changing the original (not permanent).

In [ ]:
L1 = [2,1,4,3]
L1.sort()
print(L1)

None
[1, 2, 3, 4]

In [90]:
L2 = [2,1,4,3]
Lnew = sorted(L2)
print(Lnew)

[1, 2, 3, 4]

#### **Difference between**
- `dataStructure.method(attribute)` â†’ e.g., `L1.sort()`, and  
- `function(dataStructure[attribute])` â†’ e.g., `sorted(L2)`

### 1. `L1.sort()` â€” Method
- `sort()` is a **method** that belongs specifically to the **list** data structure.
- Methods are tied to a specific object type (like list, string, etc.).
- It means method L.sort() can be used in List only, as it is tied to List data structure 

### 2. `sorted(L2)` â€” Function

* `sorted()` is a **built-in function**, not tied to any one data structure.
- It means sorted() is independent of data structure, it can be used in List, Tuples, or Strings also. 

**For Example:**

In [91]:
str = 'Shivam'
print(sorted(str))

['S', 'a', 'h', 'i', 'm', 'v']

In [92]:
str = 'Shivam'
str.sort()
print(str)

AttributeError: 'str' object has no attribute 'sort'

### ``copy()`` - creates a copy in memory. It makes shallow copy

In [100]:
L1 = [1,2,3]
print(L1)
print(id(L1))

L2 = L1.copy()
print(L2)
print(id(L2))

[1, 2, 3]
1535314368128
[1, 2, 3]
1535323830976

## 13. List Comprehension
List comprehension provides a concise way of creating lists.
```py
newList = [expression for item in iterable if condition == True]
```

### Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of codes.
- Transforms iterative statement into a formula.

> Python suggests to use **List Comprehension**, as it is very powerful.

#### Example 1 : Add 1 to 10, in a list

In [103]:
# without using list comprehension

L = []
for i in range(1,11):
    L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
# using list comprehension

L = [i for i in range(1,11)]

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Example 2 : Scaler Multiplication on a Vector

In [106]:
v = [1,2,3]
s = -3
# output: [-3, -6, -9]

x = []
for i in v: 
    x.append(i * s)

print(x)

[-3, -6, -9]

In [111]:
v = [1,2,3]
s = -3
# output: [-3, -6, -9]

Li = [i*s for i in v]
print(Li)

[-3, -6, -9]

#### Example 3: Add squares of all items

In [113]:
L = [1,2,3,4]

result = [i**2 for i in L]
print(result)

[1, 4, 9, 16]

#### Example 4: Print all numbers divisible by 5 in the range of 1 to 50

In [115]:
result = [i for i in range(1,51) if i%5==0]
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

#### Example 5: Find languages which starts with letter **'p'**

In [122]:
languages = ['java' , 'python' , 'php' , 'c' , 'javascript']

[lang for lang in languages if lang.startswith('p')]

['python', 'php']

### **Nested if with List Comprehension**

#### Example 6: Create a new list from `my_fruits` iff. item exist in `basket` and also starts with **'a'**

In [128]:
basket = ['apple' , 'guava' , 'cherry' , 'banana']
my_fruits = ['apple' , 'kiwi' , 'grapes' , 'banana']

result = [fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]
print(result)

['apple']

#### Example 7: Print a (3,3) matrix using list comprehension -> Nested list comprehension

In [129]:
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

#### Example 8: Cartesian Products -> List comprehension on 2 lists together

In [130]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

---
## 14. Traverse a List (2 ways)
- itemwise
- indexwise

In [131]:
# itemwise

L = [1,2,3,4]

for i in L:
    print(i)

1
2
3
4

In [135]:
# indexwise

L = [10,20,30,40]

for i in range(0,len(L)):
    print("Index = ", i, end = " :: ")
    print("Item = ", L[i])

Index =  0 :: Item =  10
Index =  1 :: Item =  20
Index =  2 :: Item =  30
Index =  3 :: Item =  40

---
## 15. Zip() function

The ``zip()`` function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together. and then the second item in each passeed iterator are paired together.

If the passed iterator have different lengths, the iterator with the least items decides the length of the new iterator.

In [138]:
L1 = [1,2,3,4]
L2 = [10,20,30,40]

list(zip(L1,L2))

[(1, 10), (2, 20), (3, 30), (4, 40)]

#### WAP to add items of 2 list indexwise

In [139]:
L1 = [1,2,3,4]
L2 = [10,20,30,40]

[i+j for i,j in zip(L1,L2)]

[11, 22, 33, 44]

## 16. Disadvantages of Lists

- Slow
- Eats up more memory
- Risky Usage

In [140]:
# Risky Usage of List

a = [1,2,3]
b = a

print(a)
print(b)

a.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

> **Risky Usage:**  
- In Python, lists are mutable and store references (not copies) to their elements.  
- When you do `b = a`, both `a` and `b` point to the **same memory location**.  
- Therefore, changes made to `a` will also reflect in `b`.

> **To avoid this:**
> Use ``.copy()`` when we create an actual copy, not just a referernce.

In [142]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

---
---

# **Python Tuples**
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list. 

In short, a tuple is an immutable list. A tuple cannot be changed way once it is created. 

--- 

## Characteristics of a tuple 
- Ordered
- Unchangeble
- Allows duplicates

---

## Creating a tuple

#### 1. Empty Tuple

In [2]:
t1 = ()
print(t1)

()

#### 2. Single Item Tuple

In [4]:
t2 = (1)
print(t2)
print(type(t2))

1
<class 'int'>

> **Note:**  To create a tuple with a single item, add a ``comma`` after the element. Without the comma, Python will treat it as a regular value (e.g., integer), not a tuple.

In [5]:
t2 = (1,)
print(t2)
print(type(t2))

(1,)
<class 'tuple'>

#### 3. Homogeneous Tuple

In [6]:
t3 = (1,2,3,4)
print(t3)

(1, 2, 3, 4)

#### 4. Heterogenous Tuple

In [9]:
t4 = (1,2.5, True, [1,2,3])
print(t4)

(1, 2.5, True, [1, 2, 3])

#### 5. Tuple inside tuple

In [10]:
t5 = (1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

#### 6. Using type conversion

In [12]:
t6 = tuple('Shivam')
print(t6)

('S', 'h', 'i', 'v', 'a', 'm')

---
## Accessing items from a tuple 
- Indexing
- Slicing

In [13]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [16]:
print(t3[0:4:2])
print(t3[::-1])

(1, 3)
(4, 3, 2, 1)

---
## Editing items in a tuple
- Tuple does not support item reassignment (editing)

In [17]:
print(t3)
t3[0] = 10

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

---
# Adding items in a tuple
- Tuple are immutable, cannot add items

----

# Deleting items
- Can delete whole tuple
- Cannot delete a particular item or a particular portion

In [18]:
t1 = (1,2,3)
del(t1)

In [21]:
t2 = (4,5,6)
del(t2[0:1])

TypeError: 'tuple' object does not support item deletion

--- 
## Operations on Tuple

- Arithmetic (+ and *) 
- Membership (in, not in)
- Iteration

In [22]:
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [23]:
print(t1*2)

(1, 2, 3, 1, 2, 3)

In [24]:
print(1 in t1)

True

In [25]:
for i in t1:
    print(i)

1
2
3

--- 
## Tuple Function

#### ``len(), sum(), min(), max(), sorted()``

In [31]:
print(t1)

(1, 2, 3)

In [ ]:
len(t1)

3

In [27]:
sum(t1)

6

In [28]:
min(t1)

1

In [29]:
max(t1)

3

In [32]:
t2 = (4,2,7,3)
sorted(t2)

[2, 3, 4, 7]

In [33]:
t2 = (4,2,7,3)
sorted(t2, reverse=True)

[7, 4, 3, 2]

#### `count()`, `index()`

In [34]:
t = (1,1,1,2,2,3)
t.count(1)

3

In [35]:
t.count(4)

0

In [37]:
t.index(3)

5

In [38]:
t.index(4)

ValueError: tuple.index(x): x not in tuple

--- 
## Difference between List and Tuple


| Characteristics       | List                          | Tuple                         |
|------------------------|-------------------------------|-------------------------------|
| **Syntax**             | Square brackets `[ ]`         | Parentheses `( )`             |
| **Mutability**         | Mutable (can be changed)      | Immutable (cannot be changed) |
| **Speed**              | Slower (due to flexibility)   | Faster                        |
| **Memory Usage**       | Uses more memory              | Uses less memory              |
| **Built-in Functions** | More built-in functions       | Fewer built-in functions      |
| **Error-Prone**        | More prone to accidental changes | Safer from unintended changes |
| **Use Case**           | When frequent changes are needed | When data is fixed or constant |

--- 
## Special Syntax
### Tuple Unpacking :

In [41]:
a, b, c = (1,2,3)
print(a,b,c)

1 2 3

In [42]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

> **Note:** When unpacking a tuple, the number of variables on the left must match the number of elements in the tuple.  
> If there are too many values to unpack, Python will raise a `ValueError`.
> To resolve this, Use an asterisk `*` to collect extra values into a list

In [45]:
a,b, *c = (1,2,3,4)
print(a,b)
print(c)

1 2
[3, 4]

### Tuple Unpacking to **Swap  values**

In [43]:
a = 1
b = 2
a, b = b, a
print(a,b)

2 1

### Tuple Zipping

In [47]:
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip (a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

---
---
# **Sets in Python**
A **set** is an **unordered collection** of  unique,immutable elements. Every set element is unique (no duplicated) and must be immutable (e.g. int, str, tuple) but set itself is **mutable** - meaning we can add, or remove elements.

Sets can also be used to perform mathematical operations like Union, Intersection, Symmetric Difference etc. 

---

## Characteristics
- Unordered: No guaranteed order of elements

- Mutable: Can add or remove elements after creation

- No duplicates: All elements must be unique

- Elements must be immutable:  A set can contain immutable data types only (e.g., int, str, tuple),  but **the set itself can be modified**

- **Hashing** decides which element will go to which location. We will learn about hashing later. 

---

## Creating Sets

#### 1. Empty Sets

In [48]:
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

> **Note:** In Python, using empty curly braces `{}` creates a dictionary, **not a set**.
  
> This is because both sets and dictionaries use curly brace syntax, but Python gives priority to dictionaries when the braces are empty.

> To create an empty set, use `set()` instead of `{}`

In [49]:
s2 = set()
print(type(s2))

<class 'set'>

#### 2. 1D set

In [50]:
s1 = {1,2,3}
print(s1)

{1, 2, 3}

#### 3. 2D Set : Cannot create (Will throw Error)

In [53]:
s = {1,2,3,{4,5}}
print(s)

TypeError: unhashable type: 'set'

#### 4. Heterogeneous Sets

In [1]:
s = {1, 'hello', 4.5, True, (1,2,3)}
print(s)

{1, (1, 2, 3), 4.5, 'hello'}

> **Why:** In Python, `True` is treated as `1`. 

> So, if both `1` and `True` are added to a set, only one of them is stored, because **sets do not allow duplicate elements**.

> Also, sets are unordered, so the output will not be in the same order of the input. We cannot predict the order of output.

#### 5. Sets type conversion

In [2]:
s4 = set([1,2,3,4])
print(s4)

{1, 2, 3, 4}

#### 6. Sets can't have mutable items

In [4]:
s5 = {1,2,3,{4,5}} #set inside set
print(s5)

TypeError: unhashable type: 'set'

> **Note:** Set inside set is not possible, as set is a mutable type. And a set cannot contain mutable type (or we can say 1 set cannot contain another set)

#### 7. Cannot contain duplicates

In [6]:
s6 = {1,1,1,1,2,2}
print(s6)

{1, 2}

#### Predict the answer of this code

In [7]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

In [8]:
print(s1,s2)

{1, 2, 3} {1, 2, 3}

---
## Accesing Items : Not allowed

In [9]:
s1 = {1,2,3,4}
s1[0]

TypeError: 'set' object is not subscriptable

> **Note:** Error because set is unordered, we cannot access a element by index

* Positive index not allowed
*  Negative index not allowed
*  Slicing not allowed

---
## Editing items - Not allowed

In [10]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

> **Note:** Once an item is added to a Python set, you can't access or modify it directly.

> But we can add or delete items

---
## Adding items

#### 1. Using ``add()`` function: add 1 item
- We cannot predict at which position new item will be placed

In [12]:
s = {1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

#### 2. Using `update()` function : add multiple items

In [13]:
s.update([9,10])
print(s)

{1, 2, 3, 4, 5, 9, 10}

---
## Deleting items

#### 1. using `del()` keyword

In [16]:
s = {1,2,3,4}
del(s)

> **Note:** Indexwise deletion not possible, we can only delete the whole set using `del()` keyword

In [15]:
s = {1,2,3,4}
del(s[0])

TypeError: 'set' object doesn't support item deletion

#### 2. using `discard()` keyword  - delete itemwise

In [17]:
s = {10,20,30,40,50}
s.discard(50)
print(s)

{20, 40, 10, 30}

> **Note:** If we try to discard an item that does not exist in the set, the `discard()` method will do nothing and ***will not raise an error***.

In [18]:
s.discard(55)
print(s)

{20, 40, 10, 30}

#### 3. using `remove()` keyword  - delete itemwise

In [4]:
s = {10,20,30,40,50}
s.remove(10)
print(s)

{50, 20, 40, 30}

In [3]:
s = {10,20,30,40,50}
s.remove(60)
print(s)

KeyError: 60

> **Note:** Both `discard()` and `remove()` perform the same task of deleting an item from a set. However, the key difference between them is: if we try to `discard()` an item that is not present in the set, it does nothing and does not raise an error. On the other hand, `remove()` will raise an error if the item is not found in the set.

#### 4. using `pop()` keyword  - delete **random** item

In [ ]:
s = {10,20,30,40,50}
s.pop()
print(s)

s.pop()
print(s)

s.pop()
print(s)

s.pop()
print(s)

{20, 40, 10, 30}
{40, 10, 30}
{10, 30}
{30}

#### 4. Using `clear()` method â€“ It does not delete the set itself, but removes all items from the set, making it empty.

In [6]:
s = {1,2,3,4}
s.clear()
print(s)

set()

---
## Set Operations

#### 1. Union Operation `(|)`

In [17]:
s1 = {1,2,3,4,5}
s2 = {2,4,6,8,10}

s1|s2

{1, 2, 3, 4, 5, 6, 8, 10}

#### 2. Intersection Operation `(&)`

In [18]:
s1 & s2

{2, 4}

#### 3. Difference `(-)`

> ``x âˆˆ (A - B)`` if and only if ``x âˆˆ A AND x âˆ‰ B``

In [21]:
print(s1-s2)
print(s2-s1)

{1, 3, 5}
{8, 10, 6}

#### 4. Symmetrical Difference `(^)`

> â€ƒ``x âˆˆ (A âŠ• B)`` if and only if ``(x âˆˆ A AND x âˆ‰ B)  OR (x âˆˆ B AND x âˆ‰ A)``

> An element belongs to the symmetric difference of A and B if it is in exactly one of the sets â€” either in A or in B, but not in both.

In words:

In [22]:
print(s1 ^ s2)
print(s2 ^ s1)

{1, 3, 5, 6, 8, 10}
{1, 3, 5, 6, 8, 10}

#### 5. Membership Test

In [23]:
s = {1,2,3,4}

1 in s

True

#### 6. Iteration

In [24]:
for i in s: 
    print(i)

1
2
3
4

---
## Set functions

#### 1. `len(), sum(), min(), max(), sorted()`

In [26]:
s = {2,4,1,3}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sorted(s, reverse = True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

2. `union(), update()`

In [27]:
s1 = {1,2,3,4}
s2 = {2,4,6,8}

s1.union(s2)

{1, 2, 3, 4, 6, 8}

In [29]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 6, 8}
{8, 2, 4, 6}

> **Note:** update(), do a permanent union of first set.

#### 3. ``intersection(), intersection_update()``

In [30]:
s1 = {1,2,3,4}
s2 = {2,4,6,8}

s1.intersection()

{1, 2, 3, 4}

In [32]:
s1 = {1,2,3,4}
s2 = {2,4,6,8}

s1.intersection_update(s2)

print(s1)
print(s2)

{2, 4}
{8, 2, 4, 6}

#### 4. `differemce(), difference_update()`

In [33]:
s1 = {1,2,3,4}
s2 = {2,4,6,8}

s1.difference(s2)

{1, 3}

In [35]:
s1 = {1,2,3,4}
s2 = {2,4,6,8}

s1.difference_update(s2)

print(s1)
print(s2)

{1, 3}
{8, 2, 4, 6}

#### 5. `symmetric_differemce(), symmetric_difference_update()`

In [36]:
s1 = {1,2,3,4}
s2 = {2,4,6,8}

s1.symmetric_difference(s2)

{1, 3, 6, 8}

In [37]:
s1 = {1,2,3,4}
s2 = {2,4,6,8}

s1.symmetric_difference_update(s2)

print(s1)
print(s2)

{1, 3, 6, 8}
{8, 2, 4, 6}

#### 6. `isdisjoint()`

In **set theory**, **two sets are called *disjoint*** if they have **no elements in common**. That means their **intersection is the empty set**.

Two sets $A$ and $B$ are **disjoint** if:

$$
A \cap B = \emptyset
$$

Where $\cap$ denotes intersection, and $\emptyset$ means "empty set" (i.e., no shared elements).

In [39]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.isdisjoint(s2)

False

In [ ]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.isdisjoint(s2)

False

#### 7. `subset()`


A set $A$ is a **subset** of set $B$ if **every element of $A$ is also an element of $B$**.

$$
A \subseteq B \iff \forall x (x \in A \Rightarrow x \in B)
$$

In [41]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.issubset(s2)

False

In [42]:
s1 = {3,4}
s2 = {3,4,5,6}

s1.issubset(s2)

True

#### 8. ``superset()``

A set $A$ is a **superset** of set $B$ if **every element of $B$ is also in $A$**.


$$
A \supseteq B \iff \forall x (x \in B \Rightarrow x \in A)
$$

In [45]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.issuperset(s2)

False

In [46]:
s1 = {1,2,3,4}
s2 = {3,4}

s1.issuperset(s2)

True

#### 9. `copy()`

In [49]:
s1 = {1,2,3}
s2 = s1.copy()

print(s2)
print(id(s1))
print(id(s2))

{1, 2, 3}
2033806290592
2033806280064

---

## Frozen Set
Frozen set is just an immutable version of a Python set obiect

#### 1. Create Frozenset

In [50]:
fs = frozenset((1,2,3))
fs

frozenset({1, 2, 3})

In [52]:
fs = frozenset({1,2,3})
fs

frozenset({1, 2, 3})

> **Note:** In python **frozen set** all read function will work. And all write function will not not work

#### 2. 2D frozen fast

In [53]:
fs = frozenset([1,2, frozenset({3,4})])
print(fs)

frozenset({frozenset({3, 4}), 1, 2})

---
## Set Comprehension

In [54]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [55]:
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [56]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

---
---

# **Dictionary**
A dictionary in Python is a collection of key-value pairs, used to store data in a structure similar to a map. Unlike other data types (like lists or tuples) that hold individual elements, a dictionary holds pairs of data, where each key is associated with a value.

In some programming languages, dictionaries are known as maps or associative arrays.

``dict = {'name': 'Shivam', 'age': 22, 'gender': 'male'}``


### Characteristics:
* **Mutable:** You can change, add or remove items after the dictionary is added.

* **Unordered:** Indexin has no meaning, elements are stored in a fixed order

* **Unique Kyes:** No duplicated keys are allowed.

* **Immutable keys only:** Keys must be of an immutable type (e.g., strings, numbers, tuples), not lists or other dictionaries.

---

## Create Dictionary

#### 1. Empty Dictionary

In [57]:
d = {}
print(d)

{}

#### 2. 1D Dictionary

In [59]:
d = {'name': 'Shivam', 'gender': 'male'}
print(d)

{'name': 'Shivam', 'gender': 'male'}

#### 3. Dictionary with mixed keys
Let's use a tuple

In [61]:
d2 = {
    (1,2,3) : 1,
    'hello' : 'world'
}

print(d2)

{(1, 2, 3): 1, 'hello': 'world'}

#### 4. 2D Dictionary

In [64]:
d3 = {
    'name' : 'shivam',
    'college' : 'ieju',
    'sem' : 1,
    'subject' : {
        'dsa' : 50,
        'maths' : 67,
        'english' : 34
    }
}

print(d3)

{'name': 'shivam', 'college': 'ieju', 'sem': 1, 'subject': {'dsa': 50, 'maths': 67, 'english': 34}}


#### 5. Using `sequence` and `dict()` function

In [68]:
d4 = dict([('name','shivam'), ('age', 22), ('gender', 'male')])
print(d4)

{'name': 'shivam', 'age': 22, 'gender': 'male'}

#### 6. dictionary can't have duplicate keys

In [69]:
d5 = {'name':'shivam', 'name':'sinha'}
print(d5)

{'name': 'sinha'}

#### 7. mutable items as keys not allowed

In [71]:
d6 = {'name':'shivam', [1,2,3]: 2}
print(d6)

TypeError: unhashable type: 'list'

In [72]:
d6 = {'name':'shivam', (1,2,3): 2}
print(d6)

{'name': 'shivam', (1, 2, 3): 2}

> **Note:** List are mutable, so not allowed. Whereas, Tuple are immutable, so allowed.

---
## Accessing items from a dictionary

In [73]:
dict = {
    'name': 'shivam',
    'age': 22
}

> **Note:** Indexing is not allowed

In [74]:
dict[0]

KeyError: 0

#### 1. `[ ]` use `key` in square bracket

In [75]:
dict['name']

'shivam'

#### 2. `get()`

In [76]:
dict.get('name')

'shivam'

---
## Accessing items from a 2d dictionary

In [89]:
d = {
    'name' : 'shivam',
    'college' : 'ieju',
    'sem' : 1,
    'subject' : {
        'dsa' : 50,
        'maths' : 67,
        'english' : 34
    }
}

print(d['subject'])

{'dsa': 50, 'maths': 67, 'english': 34}

In [90]:
print(d['subject']['maths'])

67

---
## Add new key-value pair to an existing dictionary

In [77]:
dict['gender'] = 'male'

print(dict)

{'name': 'shivam', 'age': 22, 'gender': 'male'}

In [91]:
d = {
    'name' : 'shivam',
    'college' : 'ieju',
    'sem' : 1,
    'subject' : {
        'dsa' : 50,
        'maths' : 67,
        'english' : 34
    }
}

d['gender'] = 'male'

print(d)

{'name': 'shivam', 'college': 'ieju', 'sem': 1, 'subject': {'dsa': 50, 'maths': 67, 'english': 34}, 'gender': 'male'}

---
## Remove key-value pair

#### 1. `pop()` - remove pair keywise. Need atleast one argument

In [79]:
d = {'name': 'shivam', 'age': 22, 'gender': 'male'}
d.pop('age')
print(d)

{'name': 'shivam', 'gender': 'male'}

#### 2. `popitem()` - remove last pair. No argument needed

In [81]:
d = {'name': 'shivam', 'age': 22, 'gender': 'male'}
d.popitem()
print(d)

{'name': 'shivam', 'age': 22}

#### 3. `del()` - works similar to `pop()`. Remove keywise. Require one argument

In [84]:
d = {'name': 'shivam', 'age': 22, 'gender': 'male'}
del(d['name'])
print(d)

{'age': 22, 'gender': 'male'}

In [93]:
d = {
    'name' : 'shivam',
    'college' : 'ieju',
    'sem' : 1,
    'subject' : {
        'dsa' : 50,
        'maths' : 67,
        'english' : 34
    }
}

del d['subject']

print(d)

{'name': 'shivam', 'college': 'ieju', 'sem': 1}

#### 4. `clear()` - Remove all items from the dictionary

In [85]:
d = {'name': 'shivam', 'age': 22, 'gender': 'male'}
d.clear()
print(d)

{}

---
## Editing key-value pair

In [94]:
d = {'name': 'shivam', 'age': 22, 'gender': 'male'}
d['age'] = 23
print(d)

{'name': 'shivam', 'age': 23, 'gender': 'male'}

In [96]:
d = {
    'name' : 'shivam',
    'college' : 'ieju',
    'sem' : 1,
    'subject' : {
        'dsa' : 50,
        'maths' : 67,
        'english' : 34
    }
}


d['subject']['maths'] = 100

print(d)

{'name': 'shivam', 'college': 'ieju', 'sem': 1, 'subject': {'dsa': 50, 'maths': 100, 'english': 34}}

---
## Dictionary Operations

#### 1. Membership

In [97]:
d = {
    'name' : 'shivam',
    'college' : 'ieju',
    'sem' : 1,
    'subject' : {
        'dsa' : 50,
        'maths' : 67,
        'english' : 34
    }
}


'shivam' in s

False

In [98]:
'name' in s

True

> **Why?** In a dictionary, everything revolves around the keys. So when I check if something exists in a dictionary, Python searches for that item among the **keys**, not the **value**

#### 2. Iteration

In [99]:
d = {'name': 'shivam', 'age': 22, 'gender': 'male'}

for i in d:
    print(i)

name
age
gender

In [100]:
for i in d:
    print(d[i])

shivam
22
male

In [102]:
for i in d:
    print(i, ":", d[i])

name : shivam
age : 22
gender : male

---
## Dictionary Functions

#### 1. `len()`, `sorted()`, `min()`, `max()`

In [103]:
d

{'name': 'shivam', 'age': 22, 'gender': 'male'}

In [104]:
len(d)

3

In [107]:
sorted(d)

['age', 'gender', 'name']

In [108]:
sorted(d, reverse=True)

['name', 'gender', 'age']

In [110]:
min(d)

'age'

In [111]:
max(d)

'name'

#### 2. `items()` - returns the key-values pair in list format

In [112]:
d

{'name': 'shivam', 'age': 22, 'gender': 'male'}

In [115]:
d.items()

dict_items([('name', 'shivam'), ('age', 22), ('gender', 'male')])

d

#### 3. `keys()` - returns the key in list format

In [118]:
d.keys()

dict_keys(['name', 'age', 'gender'])

#### 4. `values()` - returns the values in list format

In [119]:
d.values()

dict_values(['shivam', 22, 'male'])

#### 5. `update()` -

In [122]:
d1 = {'name': 'shivam', 'age': 22, 'gender': 'male'}
d2 = {'name': 'sinha', 'age': 23}

d1.update(d2)

print(d1)

{'name': 'sinha', 'age': 23, 'gender': 'male'}

---
## Keys Comprehension

`{key : value for vars in iterable}`